# App
PORT=3000
NODE_ENV=development

# Database
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=psp_aggregator

# PSPs (aponte para o mock em dev)
PAGARME_BASE_URL=http://mock:4000/pagarme
PAGARME_API_KEY=test_key

MERCADOPAGO_BASE_URL=http://mock:4000/mercadopago
MERCADOPAGO_ACCESS_TOKEN=test_token

# Sync
SYNC_PAGE_SIZE=20

# Redis (BullMQ)
REDIS_HOST=redis
REDIS_PORT=6379